$whiteColor: #ffffff;
$primary: #A65CF0;
$secondary: #FF862F;
$gray: #999999;
$gray_light: #F7F7F7;
$black: #333333;
$secondary: #FF862F;
$grey_shade: #666666;
$grey_light: #F7F7F7;
$md_gray: #EAEAEA;
$primary-light: #C998FB;
$primary-shade: #7033AC;
$pink-violet: #EBD1FF;
$secondary-light: #FFBD59;
$bone: #FFF5D1;
$secondary-shade: #BB370E;
$pink-light: #F8EFFF;
$green-input: #B8EC64;
$gold:#D5B986;
